<a href="https://colab.research.google.com/github/sabvz-run/solarium_siep/blob/main/notebooks/1.compilacao_dos_datsets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto A3 - Predição de Produtividade em Painéis Solares

NOTEBOOK 1: PREPARAÇÃO DO DATASET SUPREMO

COPILADO DOS DATASET COM OS DADOS TRATADOS E PRONTOS PARA UTILIZAÇÃO NO NOTEBOOK 2.

[DATASETS NO GITHUB](https://github.com/sabvz-run/solarium_siep/tree/bd3b8a89e7edf5e7d6caeabd8999fde58f3e794f/datasets)

In [1]:
# ============================================================================
# ETAPA 1: INSTALAÇÃO E IMPORTAÇÃO DE BIBLIOTECAS
# ============================================================================

import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Bibliotecas importadas com sucesso")
print("Versao Pandas:", pd.__version__)
print("="*80)

Bibliotecas importadas com sucesso
Versao Pandas: 2.2.2
================================================================================

In [2]:
# ============================================================================
# ETAPA 2: CARREGAMENTO DOS 9 DATASETS ORIGINAIS
# ============================================================================

print("\nETAPA 2: CARREGANDO DATASETS ORIGINAIS")
print("="*80)

# URLs base do GitHub (você vai atualizar com seus links reais)
url_base = 'https://raw.githubusercontent.com/sabvz-run/solarium_siep/main/datasets/'

# DATASET 1: Residencial 5 anos
print("\n[1/9] Carregando: geracao_5anos.csv")
try:
    df1_geracao_5anos = pd.read_csv(url_base + 'geracao_5anos.csv')
    print(f"    Carregado: {df1_geracao_5anos.shape[0]} linhas, {df1_geracao_5anos.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df1_geracao_5anos = None

# DATASET 2: Plant 1 - Geração
print("\n[2/9] Carregando: plant1_geracao.csv")
try:
    df2_plant1_geracao = pd.read_csv(url_base + 'plant1_geracao.csv')
    print(f"    Carregado: {df2_plant1_geracao.shape[0]} linhas, {df2_plant1_geracao.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df2_plant1_geracao = None

# DATASET 3: Plant 1 - Clima
print("\n[3/9] Carregando: plant1_clima.csv")
try:
    df2_plant1_clima = pd.read_csv(url_base + 'plant1_clima.csv')
    print(f"    Carregado: {df2_plant1_clima.shape[0]} linhas, {df2_plant1_clima.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df2_plant1_clima = None

# DATASET 4: NASA Clima
print("\n[4/9] Carregando: nasa_clima.csv")

try:
    df3_nasa_clima = pd.read_csv(
        url_base + 'nasa_clima.csv',
        header=11  # Mudar de skiprows=12 para header=12 para ler a linha 13 (index 12) como cabeçalho
    )
    print(f"    Carregado com sucesso: {df3_nasa_clima.shape}")
except Exception as e:
    print(f"    ERRO carregando nasa_clima.csv: {e}")
    df3_nasa_clima = None


# DATASET 5: Geração Treino
print("\n[5/9] Carregando: geracao_treino.csv")
try:
    df4_geracao_treino = pd.read_csv(url_base + 'geracao_treino.csv')
    print(f"    Carregado: {df4_geracao_treino.shape[0]} linhas, {df4_geracao_treino.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df4_geracao_treino = None

# DATASET 6: Geração Teste
print("\n[6/9] Carregando: geracao_teste.csv")
try:
    df4_geracao_teste = pd.read_csv(url_base + 'geracao_teste.csv')
    print(f"    Carregado: {df4_geracao_teste.shape[0]} linhas, {df4_geracao_teste.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df4_geracao_teste = None

# DATASET 7: Clima Treino
print("\n[7/9] Carregando: clima_treino.csv")
try:
    df4_clima_treino = pd.read_csv(url_base + 'clima_treino.csv')
    print(f"    Carregado: {df4_clima_treino.shape[0]} linhas, {df4_clima_treino.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df4_clima_treino = None

# DATASET 8: Consumo Treino
print("\n[8/9] Carregando: consumo_treino.csv")
try:
    df4_consumo_treino = pd.read_csv(url_base + 'consumo_treino.csv')
    print(f"    Carregado: {df4_consumo_treino.shape[0]} linhas, {df4_consumo_treino.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df4_consumo_treino = None

# DATASET 9: Consumo Teste
print("\n[9/9] Carregando: consumo_teste.csv")
try:
    df4_consumo_teste = pd.read_csv(url_base + 'consumo_teste.csv')
    print(f"    Carregado: {df4_consumo_teste.shape[0]} linhas, {df4_consumo_teste.shape[1]} colunas")
except Exception as e:
    print(f"    ERRO: {e}")
    df4_consumo_teste = None

print("\n" + "="*80)
print("CARREGAMENTO CONCLUIDO")
print("="*80)

ETAPA 2: CARREGANDO DATASETS ORIGINAIS
================================================================================

[1/9] Carregando: geracao_5anos.csv
    Carregado: 364637 linhas, 2 colunas

[2/9] Carregando: plant1_geracao.csv
    Carregado: 68778 linhas, 7 colunas

[3/9] Carregando: plant1_clima.csv
    Carregado: 3182 linhas, 6 colunas

[4/9] Carregando: nasa_clima.csv
    Carregado com sucesso: (26304, 7)

[5/9] Carregando: geracao_treino.csv
    Carregado: 46704 linhas, 4 colunas

[6/9] Carregando: geracao_teste.csv
    Carregado: 336 linhas, 4 colunas

[7/9] Carregando: clima_treino.csv
    Carregado: 48408 linhas, 13 colunas

[8/9] Carregando: consumo_treino.csv
    Carregado: 46704 linhas, 2 colunas

[9/9] Carregando: consumo_teste.csv
    Carregado: 336 linhas, 2 colunas

================================================================================
CARREGAMENTO CONCLUIDO
================================================================================

In [3]:
# ============================================================================
# ETAPA 3: ANÁLISE INICIAL E PADRONIZAÇÃO
# ============================================================================

print("\n\nETAPA 3: ANALISE E PADRONIZACAO")
print("="*80)

# Função auxiliar para explorar estrutura dos datasets
def explorar_dataset(df, nome):
    if df is not None:
        print(f"\n{nome}:")
        print(f"  Shape: {df.shape}")
        print(f"  Colunas: {list(df.columns)}")
        print(f"  Tipos: {dict(df.dtypes)}")
        print(f"  Primeiras linhas:")
        print(df.head(2))
    else:
        print(f"\n{nome}: NAO CARREGADO")

# Explorar cada dataset para entender estrutura
explorar_dataset(df1_geracao_5anos, "DATASET 1 - Geracao 5 anos")
explorar_dataset(df2_plant1_geracao, "DATASET 2 - Plant1 Geracao")
explorar_dataset(df2_plant1_clima, "DATASET 3 - Plant1 Clima")
explorar_dataset(df3_nasa_clima, "DATASET 4 - NASA Clima")
explorar_dataset(df4_geracao_treino, "DATASET 5 - Geracao Treino")

ETAPA 3: ANALISE E PADRONIZACAO
================================================================================

DATASET 1 - Geracao 5 anos:
  Shape: (364637, 2)
  Colunas: ['1587692809.0', '0.0']
  Tipos: {'1587692809.0': dtype('float64'), '0.0': dtype('float64')}
  Primeiras linhas:
   1587692809.0  0.0
0  1.587693e+09  0.0
1  1.587693e+09  0.0

DATASET 2 - Plant1 Geracao:
  Shape: (68778, 7)
  Colunas: ['DATE_TIME', 'PLANT_ID', 'SOURCE_KEY', 'DC_POWER', 'AC_POWER', 'DAILY_YIELD', 'TOTAL_YIELD']
  Tipos: {'DATE_TIME': dtype('O'), 'PLANT_ID': dtype('int64'), 'SOURCE_KEY': dtype('O'), 'DC_POWER': dtype('float64'), 'AC_POWER': dtype('float64'), 'DAILY_YIELD': dtype('float64'), 'TOTAL_YIELD': dtype('float64')}
  Primeiras linhas:
          DATE_TIME  PLANT_ID       SOURCE_KEY  DC_POWER  AC_POWER  \
0  15-05-2020 00:00   4135001  1BY6WEcLGh8j5v7       0.0       0.0
1  15-05-2020 00:00   4135001  1IF53ai7Xc0U56Y       0.0       0.0

   DAILY_YIELD  TOTAL_YIELD
0          0.0    6259559.0
1          0.0    6183645.0

DATASET 3 - Plant1 Clima:
  Shape: (3182, 6)
  Colunas: ['DATE_TIME', 'PLANT_ID', 'SOURCE_KEY', 'AMBIENT_TEMPERATURE', 'MODULE_TEMPERATURE', 'IRRADIATION']
  Tipos: {'DATE_TIME': dtype('O'), 'PLANT_ID': dtype('int64'), 'SOURCE_KEY': dtype('O'), 'AMBIENT_TEMPERATURE': dtype('float64'), 'MODULE_TEMPERATURE': dtype('float64'), 'IRRADIATION': dtype('float64')}
  Primeiras linhas:
             DATE_TIME  PLANT_ID       SOURCE_KEY  AMBIENT_TEMPERATURE  \
0  2020-05-15 00:00:00   4135001  HmiyD2TTLFNqkNe            25.184316
1  2020-05-15 00:15:00   4135001  HmiyD2TTLFNqkNe            25.084589

   MODULE_TEMPERATURE  IRRADIATION
0           22.857507          0.0
1           22.761668          0.0

DATASET 4 - NASA Clima:
  Shape: (26304, 7)
  Colunas: ['YEAR', 'MO', 'DY', 'HR', 'T2M', 'ALLSKY_SFC_SW_DWN', 'RH2M']
  Tipos: {'YEAR': dtype('int64'), 'MO': dtype('int64'), 'DY': dtype('int64'), 'HR': dtype('int64'), 'T2M': dtype('float64'), 'ALLSKY_SFC_SW_DWN': dtype('float64'), 'RH2M': dtype('float64')}
  Primeiras linhas:
   YEAR  MO  DY  HR    T2M  ALLSKY_SFC_SW_DWN   RH2M
0  2022   1   1   0  22.99                0.0  86.62
1  2022   1   1   1  22.42                0.0  90.17

DATASET 5 - Geracao Treino:
  Shape: (46704, 4)
  Colunas: ['datetime', 'irradiance_Wm-2', 'pv_power_mw', 'panel_temp_C']
  Tipos: {'datetime': dtype('O'), 'irradiance_Wm-2': dtype('float64'), 'pv_power_mw': dtype('float64'), 'panel_temp_C': dtype('float64')}
  Primeiras linhas:
              datetime  irradiance_Wm-2  pv_power_mw  panel_temp_C
0  2017-11-03 00:00:00              0.0          0.0          7.05
1  2017-11-03 00:30:00              0.0          0.0          7.38

In [4]:
# ============================================================================
# ETAPA 4: PADRONIZAÇÃO DE NOMES E FORMATOS
# ============================================================================

print("\n\nETAPA 4: PADRONIZACAO DE NOMES E FORMATOS")
print("="*80)

# Dicionário de mapeamento de colunas comuns
# IMPORTANTE: Você precisa ajustar esses nomes baseado na estrutura real dos seus datasets
# Execute a ETAPA 3 primeiro para ver os nomes reais das colunas

print("\nPadronizando nomes de colunas...")

# Função para padronizar nomes
def padronizar_colunas(df, mapa_colunas):
    if df is not None:
        df_padronizado = df.copy()
        df_padronizado.rename(columns=mapa_colunas, inplace=True)
        return df_padronizado
    return None

# AJUSTE ESSES MAPEAMENTOS BASEADO NA SUA ESTRUTURA REAL

# Dataset 1: geracao_5anos.csv
mapa_df1 = {
    # Exemplo: 'nome_original': 'nome_padrao'
    # 'timestamp': 'data_hora',
    # 'power': 'geracao_kw'
}

# Dataset 2: plant1_geracao.csv
mapa_df2_ger = {
    'DATE_TIME': 'data_hora',
    'DC_POWER': 'geracao_kw',
    'SOURCE_KEY': 'inversor_id'
}

# Dataset 3: plant1_clima.csv
mapa_df2_clima = {
    'DATE_TIME': 'data_hora',
    'IRRADIATION': 'irradiacao',
    'AMBIENT_TEMPERATURE': 'temperatura_ambiente',
    'MODULE_TEMPERATURE': 'temperatura_modulo'
}

# Dataset 4: nasa_clima.csv
mapa_df3 = {
    'YEAR': 'ano',
    'MO': 'mes',
    'DY': 'dia',
    'HR': 'hora',
    'T2M': 'temperatura_nasa',
    'ALLSKY_SFC_SW_DWN': 'irradiacao_nasa',
    'RH2M': 'umidade_nasa'
}

# --- Diagnostic print for df3_nasa_clima BEFORE renaming ---
if df3_nasa_clima is not None:
    print(f"  [DEBUG - ETAPA 4] Colunas de df3_nasa_clima antes da padronizacao: {list(df3_nasa_clima.columns)}")
df3_nasa_clima = padronizar_colunas(df3_nasa_clima, mapa_df3)
# --- Diagnostic print for df3_nasa_clima AFTER renaming ---
if df3_nasa_clima is not None:
    print(f"  [DEBUG - ETAPA 4] Colunas de df3_nasa_clima depois da padronizacao: {list(df3_nasa_clima.columns)}")

# Dataset 5-9: Electricity Demand
mapa_df4_ger = {
    # Ajustar conforme colunas reais
}

# Aplicar padronização
df1_geracao_5anos = padronizar_colunas(df1_geracao_5anos, mapa_df1)
df2_plant1_geracao = padronizar_colunas(df2_plant1_geracao, mapa_df2_ger)
df2_plant1_clima = padronizar_colunas(df2_plant1_clima, mapa_df2_clima)

print("Padronizacao concluida")

ETAPA 4: PADRONIZACAO DE NOMES E FORMATOS
================================================================================

Padronizando nomes de colunas...
  [DEBUG - ETAPA 4] Colunas de df3_nasa_clima antes da padronizacao: ['YEAR', 'MO', 'DY', 'HR', 'T2M', 'ALLSKY_SFC_SW_DWN', 'RH2M']
  [DEBUG - ETAPA 4] Colunas de df3_nasa_clima depois da padronizacao: ['ano', 'mes', 'dia', 'hora', 'temperatura_nasa', 'irradiacao_nasa', 'umidade_nasa']
Padronizacao concluida

In [5]:
# ============================================================================
# ETAPA 5: CONVERSÃO DE DATAS
# ============================================================================

print("\n\nETAPA 5: CONVERSAO DE DATAS")
print("="*80)

# Função para converter a coluna 'data_hora' de um DataFrame para datetime
def converter_data_hora_df(df):
    if df is not None and 'data_hora' in df.columns:
        try:
            df['data_hora'] = pd.to_datetime(df['data_hora'], errors='coerce')
            df = df.dropna(subset=['data_hora']).reset_index(drop=True)
            df = df.sort_values('data_hora')
            print(f"  Coluna 'data_hora' convertida para datetime no DataFrame.")
        except Exception as e:
            print(f"ERRO na conversão de 'data_hora' para datetime no DataFrame: {e}")
    return df

# Função específica para construir e converter 'data_hora' no dataset da NASA
def construir_e_converter_data_nasa(df):
    if df is not None:
        try:
            # Assumindo que 'ano', 'mes', 'dia', 'hora' já estão padronizados para df3_nasa_clima
            df['data_hora'] = pd.to_datetime(
                df['ano'].astype(str) + '-' +
                df['mes'].astype(str) + '-' +
                df['dia'].astype(str) + ' ' +
                df['hora'].astype(str).str.zfill(2) + ':00:00', # Garante formato 'HH'
                errors='coerce'
            )
            df = df.dropna(subset=['data_hora']).reset_index(drop=True)
            df = df.sort_values('data_hora')
            print("  NASA 'data_hora' construida e convertida com sucesso.")
        except Exception as e:
            print("ERRO na construção/conversão da 'data_hora' da NASA:", e)
    return df

print("\nConvertendo datas...")

# Aplicar conversão aos DataFrames que já tiveram a coluna 'data_hora' padronizada na ETAPA 4
df1_geracao_5anos = converter_data_hora_df(df1_geracao_5anos)
df2_plant1_geracao = converter_data_hora_df(df2_plant1_geracao)
df2_plant1_clima = converter_data_hora_df(df2_plant1_clima)

# Aplicar a função específica para o dataset da NASA
# --- Diagnostic print for df3_nasa_clima BEFORE date conversion ---
if df3_nasa_clima is not None:
    print(f"  [DEBUG - ETAPA 5] Colunas de df3_nasa_clima antes da conversao de data: {list(df3_nasa_clima.columns)}")
df3_nasa_clima = construir_e_converter_data_nasa(df3_nasa_clima)
# --- Diagnostic print for df3_nasa_clima AFTER date conversion ---
if df3_nasa_clima is not None:
    print(f"  [DEBUG - ETAPA 5] Colunas de df3_nasa_clima depois da conversao de data: {list(df3_nasa_clima.columns)}")

ETAPA 5: CONVERSAO DE DATAS
================================================================================

Convertendo datas...
  Coluna 'data_hora' convertida para datetime no DataFrame.
  Coluna 'data_hora' convertida para datetime no DataFrame.
  [DEBUG - ETAPA 5] Colunas de df3_nasa_clima antes da conversao de data: ['ano', 'mes', 'dia', 'hora', 'temperatura_nasa', 'irradiacao_nasa', 'umidade_nasa']
  NASA 'data_hora' construida e convertida com sucesso.
  [DEBUG - ETAPA 5] Colunas de df3_nasa_clima depois da conversao de data: ['ano', 'mes', 'dia', 'hora', 'temperatura_nasa', 'irradiacao_nasa', 'umidade_nasa', 'data_hora']

In [6]:
# ============================================================================
# ETAPA 6: CRIAÇÃO DO DATASET SUPREMO
# ============================================================================

print("\n\nETAPA 6: CRIACAO DO DATASET SUPREMO")
print("="*80)

# Estratégia: Começar com dataset maior e adicionar informações dos outros

# Escolher dataset base (geralmente o com mais registros temporais)
print("\nEscolhendo dataset base...")

datasets_disponiveis = {
    'geracao_5anos': df1_geracao_5anos,
    'plant1_geracao': df2_plant1_geracao,
    'nasa_clima': df3_nasa_clima
}

# Remover None
datasets_disponiveis = {k: v for k, v in datasets_disponiveis.items() if v is not None}

if not datasets_disponiveis:
    print("ERRO: Nenhum dataset disponivel")
else:
    # Pegar o maior
    dataset_base_nome = max(datasets_disponiveis, key=lambda k: len(datasets_disponiveis[k]))
    dataset_supremo = datasets_disponiveis[dataset_base_nome].copy()
    print(f"Dataset base escolhido: {dataset_base_nome} ({len(dataset_supremo)} registros)")

    # Temporary fix: Rename and convert columns if dataset_supremo originated from df1_geracao_5anos
    if dataset_base_nome == 'geracao_5anos' and '1587692809.0' in dataset_supremo.columns:
        print(f"  Renaming and converting columns for {dataset_base_nome} in dataset_supremo...")
        dataset_supremo.rename(columns={'1587692809.0': 'data_hora', '0.0': 'geracao_kw'}, inplace=True)
        # Convert Unix timestamp (float) to datetime
        dataset_supremo['data_hora'] = pd.to_datetime(dataset_supremo['data_hora'], unit='s', errors='coerce')
        dataset_supremo = dataset_supremo.dropna(subset=['data_hora'])
        dataset_supremo = dataset_supremo.sort_values('data_hora').reset_index(drop=True)
        print(f"  Columns renamed and data_hora converted for {dataset_base_nome}.")

    # Merge com dados climáticos do Plant1
    if df2_plant1_clima is not None:
        print("\nAdicionando dados climaticos Plant1...")
        dataset_supremo = pd.merge(
            dataset_supremo,
            df2_plant1_clima,
            on='data_hora',
            how='left',
            suffixes=('', '_plant1')
        )
        print(f"  Registros apos merge: {len(dataset_supremo)}")

    # Merge com dados da NASA
    if df3_nasa_clima is not None:
        print("\nAdicionando dados climaticos NASA...")
        dataset_supremo = pd.merge(
            dataset_supremo,
            df3_nasa_clima[['data_hora','temperatura_nasa','irradiacao_nasa','umidade_nasa']],
            on='data_hora',
            how='left'
        )
        print(f"  Registros apos merge: {len(dataset_supremo)}")

    # Adicionar features temporais
    print("\nCriando features temporais...")
    dataset_supremo['hora'] = dataset_supremo['data_hora'].dt.hour
    dataset_supremo['dia'] = dataset_supremo['data_hora'].dt.day
    dataset_supremo['mes'] = dataset_supremo['data_hora'].dt.month
    dataset_supremo['ano'] = dataset_supremo['data_hora'].dt.year
    dataset_supremo['dia_semana'] = dataset_supremo['data_hora'].dt.dayofweek
    dataset_supremo['eh_fim_semana'] = (dataset_supremo['data_hora'].dt.dayofweek >= 5).astype(int)

    print("  Features temporais criadas: hora, dia, mes, ano, dia_semana, eh_fim_semana")

ETAPA 6: CRIACAO DO DATASET SUPREMO
================================================================================

Escolhendo dataset base...
Dataset base escolhido: geracao_5anos (364637 registros)
  Renaming and converting columns for geracao_5anos in dataset_supremo...
  Columns renamed and data_hora converted for geracao_5anos.

Adicionando dados climaticos Plant1...
  Registros apos merge: 364637

Adicionando dados climaticos NASA...
  Registros apos merge: 364637

Criando features temporais...
  Features temporais criadas: hora, dia, mes, ano, dia_semana, eh_fim_semana

In [7]:

# ============================================================================
# ETAPA 7: LIMPEZA E QUALIDADE DOS DADOS
# ============================================================================

print("\n\nETAPA 7: LIMPEZA E QUALIDADE")
print("="*80)

# Verificar dados ausentes
print("\nDados ausentes por coluna:")
print(dataset_supremo.isnull().sum())

# Estatísticas descritivas
print("\nEstatisticas descritivas:")
print(dataset_supremo.describe())

# Remover duplicatas
print(f"\nRemovendo duplicatas...")
antes = len(dataset_supremo)
dataset_supremo = dataset_supremo.drop_duplicates(subset=['data_hora'])
depois = len(dataset_supremo)
print(f"  Removidos: {antes - depois} registros duplicados")

# Tratar valores ausentes (estratégia simples: interpolação para séries temporais)
print("\nTratando valores ausentes...")
colunas_numericas = dataset_supremo.select_dtypes(include=[np.number]).columns
for col in colunas_numericas:
    if dataset_supremo[col].isnull().sum() > 0:
        dataset_supremo[col] = dataset_supremo[col].interpolate(method='linear', limit_direction='both')

print("  Valores ausentes tratados com interpolacao linear")

# Verificar resultado final
print("\nVerificacao final:")
print(f"  Registros totais: {len(dataset_supremo)}")
print(f"  Colunas: {len(dataset_supremo.columns)}")
print(f"  Periodo: {dataset_supremo['data_hora'].min()} ate {dataset_supremo['data_hora'].max()}")
print(f"  Valores ausentes restantes: {dataset_supremo.isnull().sum().sum()}")

ETAPA 7: LIMPEZA E QUALIDADE
================================================================================

Dados ausentes por coluna:
data_hora                    0
geracao_kw                   0
PLANT_ID                364637
SOURCE_KEY              364637
temperatura_ambiente    364637
temperatura_modulo      364637
irradiacao              364637
temperatura_nasa        364637
irradiacao_nasa         364637
umidade_nasa            364637
hora                         0
dia                          0
mes                          0
ano                          0
dia_semana                   0
eh_fim_semana                0
dtype: int64

Estatisticas descritivas:
                           data_hora     geracao_kw  PLANT_ID  \
count                         364637  364637.000000       0.0
mean   2022-01-17 03:01:49.000001024       1.004481       NaN
min              2020-04-24 01:51:49       0.000000       NaN
25%              2021-03-06 14:26:49       0.000000       NaN
50%              2022-01-17 03:01:49       0.125928       NaN
75%              2022-11-29 15:36:49       1.139250       NaN
max              2023-10-12 04:11:49     168.201768       NaN
std                              NaN       1.801571       NaN

       temperatura_ambiente  temperatura_modulo  irradiacao  temperatura_nasa  \
count                   0.0                 0.0         0.0               0.0
mean                    NaN                 NaN         NaN               NaN
min                     NaN                 NaN         NaN               NaN
25%                     NaN                 NaN         NaN               NaN
50%                     NaN                 NaN         NaN               NaN
75%                     NaN                 NaN         NaN               NaN
max                     NaN                 NaN         NaN               NaN
std                     NaN                 NaN         NaN               NaN

       irradiacao_nasa  umidade_nasa           hora            dia  \
count              0.0           0.0  364637.000000  364637.000000
mean               NaN           NaN      11.499288      15.707512
min                NaN           NaN       0.000000       1.000000
25%                NaN           NaN       5.000000       8.000000
50%                NaN           NaN      11.000000      16.000000
75%                NaN           NaN      17.000000      23.000000
max                NaN           NaN      23.000000      31.000000
std                NaN           NaN       6.922384       8.830824

                 mes            ano     dia_semana  eh_fim_semana
count  364637.000000  364637.000000  364637.000000  364637.000000
mean        6.599369    2021.538212       2.999940       0.285917
min         1.000000    2020.000000       0.000000       0.000000
25%         4.000000    2021.000000       1.000000       0.000000
50%         7.000000    2022.000000       3.000000       0.000000
75%         9.000000    2022.000000       5.000000       1.000000
max        12.000000    2023.000000       6.000000       1.000000
std         3.268724       1.046612       2.000698       0.451851

Removendo duplicatas...
  Removidos: 0 registros duplicados

Tratando valores ausentes...
  Valores ausentes tratados com interpolacao linear

Verificacao final:
  Registros totais: 364637
  Colunas: 16
  Periodo: 2020-04-24 01:51:49 ate 2023-10-12 04:11:49
  Valores ausentes restantes: 2917096

In [12]:
# Criar dataset limpo (só dados completos)
dataset_limpo = dataset_supremo.dropna(subset=['geracao_kw', 'temperatura_ambiente', 'irradiacao'])
print(f"Dataset original: {len(dataset_supremo)} registros")
print(f"Dataset limpo: {len(dataset_limpo)} registros")
print(f"Período: {dataset_limpo['data_hora'].min()} até {dataset_limpo['data_hora'].max()}")

# Salvar
dataset_limpo.to_csv('dataset_supremo_limpo.csv', index=False)

Dataset original: 364637 registros
Dataset limpo: 0 registros
Período: NaT até NaT

In [13]:
# ============================================================================
# ETAPA 8: EXPORTAÇÃO DO DATASET SUPREMO
# ============================================================================

print("\n\nETAPA 8: EXPORTACAO")
print("="*80)

# Salvar dataset supremo
nome_arquivo = 'dataset_supremo.csv'
dataset_supremo.to_csv(nome_arquivo, index=False)

print(f"\nDataset Supremo salvo como: {nome_arquivo}")
print(f"  Tamanho do arquivo: {round(dataset_supremo.memory_usage(deep=True).sum() / 1024**2, 2)} MB")
print(f"  Total de registros: {len(dataset_supremo)}")
print(f"  Total de colunas: {len(dataset_supremo.columns)}")
print(f"\nColunas finais:")
for i, col in enumerate(dataset_supremo.columns, 1):
    print(f"  {i}. {col}")

# Salvar também informações sobre o dataset
info_dataset = {
    'total_registros': len(dataset_supremo),
    'total_colunas': len(dataset_supremo.columns),
    'periodo_inicial': str(dataset_supremo['data_hora'].min()),
    'periodo_final': str(dataset_supremo['data_hora'].max()),
    'colunas': list(dataset_supremo.columns)
}

import json
with open('dataset_info.json', 'w') as f:
    json.dump(info_dataset, f, indent=2)

print("\nInformacoes do dataset salvas em: dataset_info.json")

ETAPA 8: EXPORTACAO
================================================================================

Dataset Supremo salvo como: dataset_supremo.csv
  Tamanho do arquivo: 45.9 MB
  Total de registros: 364637
  Total de colunas: 16

Colunas finais:
  1. data_hora
  2. geracao_kw
  3. PLANT_ID
  4. SOURCE_KEY
  5. temperatura_ambiente
  6. temperatura_modulo
  7. irradiacao
  8. temperatura_nasa
  9. irradiacao_nasa
  10. umidade_nasa
  11. hora
  12. dia
  13. mes
  14. ano
  15. dia_semana
  16. eh_fim_semana

Informacoes do dataset salvas em: dataset_info.json

In [9]:
# ============================================================================
# ETAPA 9: PREVIEW DO DATASET FINAL
# ============================================================================

print("\n\nETAPA 9: PREVIEW DO DATASET FINAL")
print("="*80)

print("\nPrimeiras 5 linhas:")
print(dataset_supremo.head())

print("\nUltimas 5 linhas:")
print(dataset_supremo.tail())

print("\n" + "="*80)
print("PROCESSO CONCLUIDO COM SUCESSO")
print("="*80)
print("\nPROXIMOS PASSOS:")
print("1. Baixe o arquivo dataset_supremo.csv")
print("2. Suba para o GitHub: github.com/sabvz-run/solarium_siep/datasets/")
print("3. Suba para o Google Drive e gere link publico")
print("4. Passe os links para continuar com o Notebook 2")
print("="*80)

ETAPA 9: PREVIEW DO DATASET FINAL
================================================================================

Primeiras 5 linhas:
            data_hora  geracao_kw  PLANT_ID SOURCE_KEY  temperatura_ambiente  \
0 2020-04-24 01:51:49    0.000000       NaN        NaN                   NaN
1 2020-04-24 01:56:49    0.000000       NaN        NaN                   NaN
2 2020-04-24 02:01:49    0.000000       NaN        NaN                   NaN
3 2020-04-24 02:06:49    0.167167       NaN        NaN                   NaN
4 2020-04-24 02:11:49    0.189000       NaN        NaN                   NaN

   temperatura_modulo  irradiacao  temperatura_nasa  irradiacao_nasa  \
0                 NaN         NaN               NaN              NaN
1                 NaN         NaN               NaN              NaN
2                 NaN         NaN               NaN              NaN
3                 NaN         NaN               NaN              NaN
4                 NaN         NaN               NaN              NaN

   umidade_nasa  hora  dia  mes   ano  dia_semana  eh_fim_semana
0           NaN     1   24    4  2020           4              0
1           NaN     1   24    4  2020           4              0
2           NaN     2   24    4  2020           4              0
3           NaN     2   24    4  2020           4              0
4           NaN     2   24    4  2020           4              0

Ultimas 5 linhas:
                 data_hora  geracao_kw  PLANT_ID SOURCE_KEY  \
364632 2023-10-12 03:51:49       2.012       NaN        NaN
364633 2023-10-12 03:56:49       2.012       NaN        NaN
364634 2023-10-12 04:01:49       2.012       NaN        NaN
364635 2023-10-12 04:06:49       2.012       NaN        NaN
364636 2023-10-12 04:11:49       2.012       NaN        NaN

        temperatura_ambiente  temperatura_modulo  irradiacao  \
364632                   NaN                 NaN         NaN
364633                   NaN                 NaN         NaN
364634                   NaN                 NaN         NaN
364635                   NaN                 NaN         NaN
364636                   NaN                 NaN         NaN

        temperatura_nasa  irradiacao_nasa  umidade_nasa  hora  dia  mes   ano  \
364632               NaN              NaN           NaN     3   12   10  2023
364633               NaN              NaN           NaN     3   12   10  2023
364634               NaN              NaN           NaN     4   12   10  2023
364635               NaN              NaN           NaN     4   12   10  2023
364636               NaN              NaN           NaN     4   12   10  2023

        dia_semana  eh_fim_semana
364632           3              0
364633           3              0
364634           3              0
364635           3              0
364636           3              0

================================================================================
PROCESSO CONCLUIDO COM SUCESSO
================================================================================

PROXIMOS PASSOS:
1. Baixe o arquivo dataset_supremo.csv
2. Suba para o GitHub: github.com/sabvz-run/solarium_siep/datasets/
3. Suba para o Google Drive e gere link publico
4. Passe os links para continuar com o Notebook 2
================================================================================

In [11]:
# Criar dataset limpo (só dados completos)
dataset_limpo = dataset_supremo.dropna(subset=['geracao_kw', 'temperatura_ambiente', 'irradiacao'])
print(f"Dataset original: {len(dataset_supremo)} registros")
print(f"Dataset limpo: {len(dataset_limpo)} registros")
print(f"Período: {dataset_limpo['data_hora'].min()} até {dataset_limpo['data_hora'].max()}")

# Salvar
dataset_limpo.to_csv('dataset_supremo_limpo.csv', index=False)

Dataset original: 364637 registros
Dataset limpo: 0 registros
Período: NaT até NaT